name: "Sanity and integration tests"

on:
  push:
    paths:
    - ".github/workflows/main.yml"
    - "plugins/**"
    - "tests/**"
  pull_request:
    branches: 
      - master
    paths:
      - ".github/workflows/main.yml"
      - "plugins/**"
      - "tests/**"
jobs:
  sanity-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: ansible_collections/shaps/ipset
    - name: Setup python
      uses: actions/setup-python@v1

    - name: Install ansible-minimal
      run: pip install git+https://github.com/ansible-collection-migration/ansible-minimal.git

    - name: Run sanity tests
      run: ansible-test sanity --docker
      working-directory: ansible_collections/shaps/ipset


  integration-tests:
    strategy:
      matrix:
        int_images: ['centos7', 'centos8', 'fedora30', 'fedora31', 'ubuntu1604', 'ubuntu1804']
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: ansible_collections/shaps/ipset
    - name: Setup python
      uses: actions/setup-python@v1

    - name: Install ansible-minimal
      run: pip install git+https://github.com/ansible-collection-migration/ansible-minimal.git

    - name: Run integration tests
      run: ansible-test integration --docker-privileged --docker ${{ matrix.int_image }}
      working-directory: ansible_collections/shaps/ipset
